<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projector List</title>
</head>

<body>
    <ul>
        <li> <a href="/">Homepage</a></li>
        <li><a href="/allstudents">Student page</a></li>
        <li><a href="/allstudents/new">Add Student</a></li>
        <li><a href="/mainlist">Main List</a></li>
        <li><a href="/projector">Projector</a></li>
        <li><a href="/door">Door</a></li>
    </ul>
    <div>
        <h2>Projector List</h2>
        <% if (projector) { %>
            <% projector.forEach(student=> { %>
                <div id="<%= student.id %>">
                    <h4 class="title">
                        <%= student.firstName %>
                    </h4>
                    <small>
                        <%= student.lastName %>
                            <%= student.carNumber %>
                                <%= student.teacher %>
                                    <%= student.siblings %>
                    </small>
                    <form method="POST" action="/projector/<%= student._id%>?_method=DELETE">
                        <button type=" submit">Delete</button>
                    </form>
                </div>
                <% }) %>
                    <% } else { %>
                        <p>There are no students to display...</p>
                        <% } %>
    </div>
</body>
<script>
    function updateDb() {
        location.reload()
    }
    setInterval(updateDb, 20000);
</script>

</html>